<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <a href="/new-article" class="btn btn-primary">글 작성하기</a>
    <div class="container">
        <article>
            <header>
                <h1 th:text="${article.title}"></h1>
                <div th:text="${article.formattedCreateDate}"></div>

            </header>
            <section>
                <p th:text="${article.content}"></p>
            </section>
        </article>
    </div>
</body>
</html>